<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <!-- Color palette -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>
    <style>
      .node:hover{
        stroke-width: 7px !important;
        opacity: 1 !important;
      }
    </style>
  </head>
  <body>
  

    <!-- JS for circle graph -->
    <script type="text/javascript" src="../static/js/circleGraph.js"></script>
    <script type="text/javascript" src="../static/js/statesData.js"></script>
    
  </body>
</html>